<div data-controller="post">
  <%= form_with(model: post, id: dom_id(post)) do |form| %>

    <div class="modal-header">
      <h5 class="modal-title">New post</h5>
      <button type="button" class="btn btn-outline-secondary rounded close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="mb-3">
          <%= form.label :title, class: 'form-label' %>
          <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="mb-3">
          <%= form.label :body, class: 'form-label' %>
          <%= form.text_area :body, class: 'form-control' %>
      </div>
    </div>

    <div class="modal-footer">
      <div class="actions">
        <%= form.submit class: "btn btn-sm btn-primary me-1", data: { action: "click->post#closeModal" } %>
        <%= link_to "Cancel", post, class: "btn btn-sm btn-outline-primary", data: { "bs-dismiss": "modal" } %>
      </div>
    </div>

  <% end %>
</div>