<% if false %>
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><hr><br>
<% end %>

<h4 class="mb-4">Here goes posts.</h4>

<%= turbo_stream_from "posts" %>

<%= turbo_frame_tag "post_form" do %>
  <%= render "form", post: @post %>
<% end %>

<hr>

<%= turbo_frame_tag "posts" do %>
  <%= render @posts %>
<% end %>

<%# link_to 'Create Post', new_post_path, class: 'btn btn-primary text-white mt-4' %>
